
html {
    background-color: #993131;
    box-shadow: inset 0 0 1000px rgba(0,0,0,0.6);
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}


body {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 1000px;
    min-height: calc(100vh - 100px);
    margin:  auto;
    /* padding: 10px; */
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    position: relative;
    /* overflow: hidden; */
}

header {
    min-height: 75px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.99);
    color: rgba(255,255,255,0.9);
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.95);
    box-shadow:  inset 0 inset 0 -1px 0px rgba(255,255,255,1), inset 0 calc(1px * 1.2) calc(1px * 0.75) rgba(0,0,0,0.9), 0 0 1px calc(1px * 0.5) rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
}


nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 10px; */
}

nav > button > a {
    text-decoration: none;
    color: rgba(0,0,100,1);
}

nav > button > a::before {
    font: var(--fa-font-solid);
    content: "\f03d";
    margin-right: 10px;
    margin-left: -2px;
    color: white;
    background-color: black;
    padding: calc(10px * 1.0);
    padding-left: 15px;
    border-radius: 2px;
}

nav > button > a::after {
    content: " \276F";
    margin-left: 5px;

}

nav > button {
    padding: 5px 20px 5px 0px;
    border: solid 2px rgba(0,0,0,0.5);
    border-radius: 2px;
    transition: all 300ms ease-in-out;
    /* margin-right: 10px; */
}

nav > button:hover, nav > button.active {
    border: solid 2px rgba(0,0,1);
    background: rgba(0,0,0,0.99);
    color: rgba(255,255,255,0.75) !important;
}

nav > button > a {
    color: inherit !important;
}

nav > button > a:hover {
    color: rgba(255,255,255,0.75) !important;
}

.title-container {
    /* margin-bottom: 20px; */
    /* box-shadow: 0 1px 0 rgba(0,0,0,0.2); */
    height: 75px;
    display: flex;
    align-items: center;
}

.page-title {
    margin-left: 20px;
}


section {
    /* width: 650px;
    padding: 10px; */
    border-radius: 2px;
    text-align: justify;
    overflow: hidden;
}

.homepage-hero-image {
    width:100%;
    border-radius: 2px;
    filter: brightness(150%) grayscale(95%) opacity(90%);
}

.homepage-hero-section {
    background-image: url('https://d279m997dpfwgl.cloudfront.net/wp/2020/12/GettyImages-1150049038.jpg');
    background-position: center center;
    background-size: cover;
    filter: brightness(150%) grayscale(95%) opacity(90%);
    height: calc(100vh - 320px);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.over-screen-text {
    display: inline-block;
    color: rgba(40,0,0,0.7);
    text-shadow: 0 0 30px rgba(255,255,255,0.9);
    width: 500px;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 700;
}

.movie-poster {
    float: right;
    width: 200px;
    margin: 0 0 20px 30px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), -1px 1px 1px white, -6px 6px 1px rgba(0,0,0,0.1);
}

aside {
    width: 275px;
    background: rgba(0,0,0,0.0);
    padding: 2em 10px;
    border-radius: 2px;
}

ul > li {
    list-style: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.075);
    margin-bottom: 3px;
    padding: 6px 0 3px;
    text-indent: 15px;
}

ul > li > ul > li {
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-indent: 1px;
}

.lit-star {
    /* color: #dfa402; */
    color: rgba(223,164,3,0.65);
}

.flex-container-aside-left{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
}
article {}
footer {
    height: 100px;
    background-color: rgba(0,0,0,0.99);
}
